{% extends "base.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6 mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Add Student</h2>
                <form action="{{ url_for('add_student') }}" method="POST">
                    <div class="form-group">
                        <label for="studentid">Student ID:</label>
                        <input type="text" class="form-control" id="studentid" placeholder="Enter Student ID" name="studentid" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <input type="text" class="form-control" id="year" placeholder="Enter Year" name="year" required>
                    </div>
                    <div class="form-group">
                        <label for="course">Course:</label>
                        <input type="text" class="form-control" id="course" placeholder="Enter Course" name="course" required>
                    </div>
                    <div class="form-group">
                        <label for="emailid">Email ID:</label>
                        <input type="email" class="form-control" id="emailid" placeholder="Enter Email ID" name="emailid" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address" required>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile:</label>
                        <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number" name="mobile" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark mr-2">Add Student</button>
                        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Go to Dashboard</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
